# Prática 04

** Exercício 1 - Criar as tabelas para o banco **

In [1]:
# Importar biblioteca pyodbc
import pyodbc

In [3]:
# Classe para conexao com o banco de dados
class ConexaoBD:
    def conectar(self):
        return pyodbc.connect(driver='{ODBC Driver 17 for SQL Server}', server='localhost', pwd='guiUNA=>mssqlLIKE100%ADMIN', uid='sa', database='empresa')

In [4]:
# Pegar uma conexão com o banco de dados:
bd = ConexaoBD()
conexao = bd.conectar()

In [6]:
# Classe Categoria:
class Categoria: 
    def __init__(self, conexao):
        self.conexao = conexao

    def criar(self):
        ddl = '''
        CREATE TABLE Categoria(
            id int primary Key identity(1,1),
            nome varchar(32),
            descricao text
        ); '''

        with self.conexao:
            self.conexao.execute(ddl)

categoria = Categoria(conexao)
categoria.criar()

In [7]:
# Classe Vendedor
class Vendedor:
    def __init__(self, conexao):
        self.conexao = conexao

    def criar(self): 
        ddl = '''
        CREATE TABLE Vendedor(
            cpf varchar(14) primary key,
            nome varchar(128),
            email varchar(128),
            telefone varchar(20),
            endereco varchar(256)
        );'''  

        with self.conexao:
            self.conexao.execute(ddl)  

vendedor = Vendedor(conexao)
vendedor.criar()

In [11]:
# Classe Produto
class Produto:
    def __init__(self, conexao):
        self.conexao = conexao

    def criar(self):
        ddl = '''
        CREATE TABLE Produto(
            id int primary key identity(1,1),
            nome varchar(128),
            descricao text,
            marca varchar(32),
            id_categoria int foreign key references Categoria(id)
        );'''

        with self.conexao:
            self.conexao.execute(ddl)

produto = Produto(conexao)
produto.criar()

In [13]:
# Classe VendedoProduto
class VendedoProduto:
    def __init__(self, conexao):
        self.conexao = conexao

    def criar(self):
        ddl = ''' 
        CREATE TABLE VendedorProduto(
            id int primary key identity(1,1),
            cpf_vendedor varchar(14) foreign key references Vendedor(cpf),
            id_produto int foreign key references Produto(id),
            quantidate int,
            preco decimal
        );'''  

        with self.conexao:
            self.conexao.execute(ddl)

vendedorProduto = VendedoProduto(conexao)
vendedorProduto.criar()

** Exercício 2 - Ler os registros das tabelas **

In [15]:
#Tabela Categoria
cursor = conexao.cursor()
cursor.execute ('select * from Categoria')

for nome in cursor:
    print(nome)

In [16]:
#Tabela Vendedor
cursor = conexao.cursor()
cursor.execute('select * from Vendedor')

for nome in cursor:
    print(nome)

In [17]:
#Tabela Produto
cursor = conexao.cursor()
cursor.execute('select * from Produto')

for nome in cursor:
    print(nome)

In [19]:
#Tabela VendedorProduto
cursor = conexao.cursor()
cursor.execute('select * from VendedorProduto')

for nome in cursor:
    print(nome)