# Prática 05

** Inserir na Tabela Categoria **

In [6]:
# Importar biblioteca pyodbc:
import pyodbc

In [7]:
# Classe para conexão com o banco de dados:
class ConexaoBD:
    def conectar(self):
        return pyodbc.connect(driver='{ODBC Driver 17 for SQL Server}', server='localhost', pwd='guiUNA=>mssqlLIKE100%ADMIN', uid='sa', database='empresa')

In [8]:
# Instanciar um objeto da classe para conexão com o banco de dados:
bd = ConexaoBD ()

# Pegar uma conexão com o banco de dados:
conexao = bd.conectar ()

In [6]:
#Classe Categoria:
class Categoria:
    def __init__(self, conexao):
        self.conexao = conexao

    def inserir(self):
        dml = "insert into Categoria (nome, descricao) values ('celulares', 'telefones celulares');"

        with self.conexao:
            cursor = self.conexao.cursor()
            cursor.execute(dml)
            #self.conexao.commit()
            sql = "select * from Categoria;"
            cursor.execute(sql)
            linha = cursor.fetchone()
            return linha

In [7]:
# Instaciar objeto da classe Categoria:
categoria = Categoria (conexao)

# Inserir um registro no banco de dados:
linha = categoria.inserir ()

# Apresentar na tela o registro inserido no banco de dados:
print (linha)

(1, 'celulares', 'telefones celulares')

In [9]:
#Classe Categoria:
class Categoria:
    def __init__(self, conexao):
        self.conexao = conexao

    def inserir(self):
        dml = "insert into Categoria(nome,descricao) values(?,?);"
        nome = input('Informe o nome da categoria: ')
        descricao = input('Informe a descrição da categoria: ')
        parametros = tuple((nome, descricao))
        
        with self.conexao:
            cursor = self.conexao.cursor()
            cursor.execute(dml,parametros)
            #self.conexao.commit()
            sql = "select * from Categoria";
            cursor.execute(sql)
            linha = cursor.fetchall()
            return linha

In [10]:
#Classe Categoria
class Categoria:
    def __init__(self,conexao):
        self.conexao = conexao

    def inserir(self):
        dml = "insert into Categoria(nome,descricao) values(?,?);"
        nome = input("Informe o nome da categoria: ")
        descricao = input("Informe a descrição da categoria: ")

        with self.conexao:
            cursor = self.conexao.cursor()
            cursor.execute(dml,nome,descricao)
            # self.conexao.commit()
            sql = "select * from Categoria;"
            cursor.execute(sql)
            linhas = cursor.fetchall()
            return linhas

In [11]:
#Instanciar objeto da classe Categoria:
categoria = Categoria(conexao)

#Inserir um registro no banco de dados
linha = categoria.inserir()

#Apresentar na tela o registro inserido no banco de dados
print(linha)

[(1, 'celulares', 'telefones celulares'), (2, 'Bebidas', 'refrigerantes')]

In [15]:
#Classe Categoria
class Categoria:
    def __init__(self,conexao):
        self.conexao = conexao

    def inserir(self):
        dml = "insert into Categoria (nome,descricao) values (?,?);"
        parametros = [
            ('livros', 'livros impressos'),
            ('eletrônicos', 'dispositivos eletrônicos'),
            ('alimentos', 'alimentos não perecíveis')
        ]
        with self.conexao:
            cursor = self.conexao.cursor()
            cursor.executemany(dml,parametros)
            #self.conexao.commit()
            sql = "select * from Categoria;"
            cursor.execute(sql)
            linha = cursor.fetchall()
            return linha

In [16]:
# Instaciar objeto da classe Categoria:
categoria = Categoria(conexao)

#Inserir um registro no banco de dados:
linha = categoria.inserir()

#Apresentar na tela o registro inserido no banco de dados:
print(linha)

[(1, 'celulares', 'telefones celulares'), (2, 'Bebidas', 'refrigerantes'), (6, 'livros', 'livros impressos'), (7, 'eletrônicos', 'dispositivos eletrônicos'), (8, 'alimentos', 'alimentos não perecíveis')]

In [14]:
#Classe Categoria:
class Categoria:
    def __init__(self,conexao):
        self.conexao = conexao

    def valores(self):
        parametros = []
        while True:
            nome = input('Informe o nome da categoria: ')
            descricao = input('Informe a descrição da categoria: ')
            parametros.append((nome, descricao))
            print(parametros)
            resp = input('Deseja informar outro registro? (s/n)')
            if resp == "n":
                break
        return parametros

    def inserir(self):
        dml = "insert into Categoria (nome, descricao) values (?,?);"
        parametros = self.valores()
        with self.conexao:
            cursor = self.conexao.cursor()
            cursor.executemany(dml, parametros)
            # self.conexao.commit()
            sql = "select * from Categoria;"
            cursor.execute(sql)
            linha = cursor.fetchall()
            return linha

In [15]:
# Instaciar objeto da classe Categoria:
categoria = Categoria(conexao)

#Inserir registro no banco de dados: 
linha = categoria.inserir()

#Apresentar na tela o registro no banco de dados:
print(linha)

[('Computadores', 'Notebook Asus')]
[(1, 'celulares', 'telefones celulares'), (2, 'Bebidas', 'refrigerantes'), (6, 'livros', 'livros impressos'), (7, 'eletrônicos', 'dispositivos eletrônicos'), (8, 'alimentos', 'alimentos não perecíveis'), (9, 'Computadores', 'Notebook Asus')]

In [19]:
#Classe Categoria:
class Categoria:
    def __init__(self,coenxao):
        self.conexao = conexao

    def inserir(self):
        dml = "insert into Categoria (nome, descricao) values ('cozinha','utensilios de cozinha');"
        with self.conexao:
            cursor = self.conexao.cursor()
            cursor.execute(dml)
            #self.conexao.comit()
            sql = "select cast (scope_identity () as int);"
            cursor.execute(sql)
            id = cursor.fetchone()[0]

            return id

In [20]:
#Instanciar objeto da classe Categoria: 
categoria = Categoria(conexao)

#Inserir um registro no banco de dados:
linha = categoria.inserir()

#Apresentar na tela o registro inserido no banco de dados
print(linha)

10

** Exercicio 1 **

In [23]:
# Em um notebook Jupyter, crie, nas classes apropriadas, os métodos para: inserções, atualizações e exclusões.

** Exercício 2 **

In [24]:
#Realize inserções, atualizações e remoções em seu banco de dados a partir de seu notebook Jupyter